* {
  box-sizing: border-box;
  outline: none;
  font-family: "IBM Plex Sans KR", sans-serif;
}

html {
  font-size: 13px;
  color: #000;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}

@media all and (max-width: 650px) {
  html {
    font-size: 11px;
  }
}

@media all and (max-width: 460px) {
  html {
    font-size: 10px;
  }
}